%soapenv:Envelope{"xmlns:soapenv" => "http://schemas.xmlsoap.org/soap/envelope/", "xmlns:bfex" => "http://www.betfair.com/publicapi/v5/BFExchangeService/" }
  %soapenv:Header
  %soapenv:Body
    %bfex:getSilksV2
      %bfex:request
        %header
          - if @data["client_stamp"]
            %clientStamp= @data["client_stamp"]
          %sessionToken= @data["session_token"]
        - if @data["locale"]
          %locale= @data["locale"]
        %markets
          - @data["market_ids"].each do |market|
            %bfex:int= market