%soapenv:Envelope{"xmlns:soapenv"=>"http://schemas.xmlsoap.org/soap/envelope/", "xmlns:bfg"=> "http://www.betfair.com/publicapi/v3/BFGlobalService/" }
  %soapenv:Header/
  %soapenv:Body
    %bfg:getAllEventTypes
      %bfg:request
        %header
          - if @data["client_stamp"]
            %clientStamp= @data["client_stamp"]
          %sessionToken= @data["session_token"]
        - if @data["locale"]
          %locale= @data["locale"]
 